.container-fluid {
  font-size: 20pt;
  margin-right: 200px;
}

.carousel-inner {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10pt;
}

#carouselExampleDark {
  background-color: slategray;
}


h5 {
  padding-top: 10pt;
  color: white;
}

.d-block.w-75{
  margin-left: auto;
  margin-right: auto;
}

P{
  
  color: white;
  
}

#background{

}

.carousel-caption{
  background-image: url("images/grunge-banner-3-10.png");
  background-size: 630px 112px;
  background-repeat: no-repeat;
  background-position: center;
}


@media (max-width:375px){
  #carouselExampleDark{
    display:flex;
    background-color: aqua;
    flex-direction: column;
    
    
  }



}
